{% extends 'base.html.twig' %}

{% block body %}
    <h3>Welcome {{ name }}!</h3>
    <p> Click here to activate your account: </p>
    <p>
        <a href="{{ url }}">{{ url }}</a> <!-- later change to name-->
    </p>
    <p>Thank you!</p>
    <br>
    <p>Regards,</p>
    <p>Cinema Booking</p>
{% endblock %}